@media screen and (max-width: 991px) {
    .section-1 {height: auto;}
    .opinion-div-1 {
        padding-bottom: 0.5rem;
        width: 4rem;
    }
    .opinion-div-2 {
        width: 93%;
    }
    .latest-div-1 {
        width: 15%;
    }
    .latest-div-2 {
        width: 85%;
    }
}
@media screen and (max-width: 768px) {
    .section-1-3 {height: 180rem;}
    .section2-div1 {
        height: 65rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .trp-1 {height: 60rem;}
    .trp-2 {height: 5rem;}
    .mag-img {height: 30rem;}
    .section2-div2 article {
        height: 35rem;
        margin-left: 0;
        margin-right: 0;
    }
    .fourth-section article {margin-top: 5%;}
    .fifth-section article {margin-top: 5%;}


}