@media screen and (max-width: 991px) {
    .opinion-div-1 {
        padding-bottom: 0.5rem;
        width: 4rem;
    }
    .opinion-div-2 {
        width: 93%;
    }
    .latest-div-1 {
        width: 15%;
    }
    .latest-div-2 {
        width: 85%;
    }
}