/*  Newsweek Navigation Bar */

.red-section {
    background-color: #f72210;
    color: white;
}
.font {
    font-family: "Bree Serif", serif;
  }
nav span {
  position: relative;
  top: 3rem;
}
nav ul {
    margin-left: 1rem;
}
nav ul li {
    border-right: 1px solid #EAEAEA;
    display: inline;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
nav li input {
    background-image: url("Images/mag-glass.png");
    background-position: 55%;
    background-repeat: no-repeat;
    background-size: 1rem;
    border: none;
    line-height: 1;
    width: 80%;
}
.date {
    position: relative;
    top: 4.8rem;
    left: 2.5rem;
}
.btn-container {
    position: relative;
    right: 2rem;
    top: 4.2rem;
}
.nav-btn1 {
    background-color: #f72210;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}
.nav-btn2 {
    background-color: white;
    border: none;
    color: #f72210;
    font-size: 1.1rem;
    font-weight: bold;
}

/* First Section: Featured Stories, Top Story and Opinion Sections */

section {
    border: 1px solid red;
}
section div {
    border: 1px solid blue;
}
.opinion-article {
    border: 1px solid green;
    box-sizing: border-box;
}
.opinion-div-1 {
    box-sizing: border-box;
    float: left;
    width: 20%;
}
.opinion-div-2 {
    box-sizing: border-box;
    float: right;
    width: 80%;
}
section h4 {
    color: #9B9A9A;
    font-size: 1.25rem;
}
section h5 {
    font-weight: bold;
}
.opinion-img {
    float: left;
    height: 4rem;
    width: 4rem;
}
.opinion-txt {
    border: 1px solid yellowgreen;
    float: right;
}
.test {
    background: #f72210;
}

