/*  Newsweek Navigation Bar */

.red-section {
    background-color: #f72210;
    color: white;
}
.font {
    font-family: "Bree Serif", serif;
  }
nav span {
  position: relative;
  top: 3rem;
}
nav ul {
    margin-left: 1rem;
}
nav ul li {
    border-right: 1px solid #EAEAEA;
    display: inline;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
nav li input {
    background-image: url("Images/mag-glass.png");
    background-position: 55%;
    background-repeat: no-repeat;
    background-size: 1rem;
    border: none;
    line-height: 1;
    width: 80%;
}
.date {
    position: relative;
    top: 4.8rem;
    left: 2.5rem;
}
.btn-container {
    position: relative;
    right: 2rem;
    top: 4.2rem;
}
.nav-btn1 {
    background-color: #f72210;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}
.nav-btn2 {
    background-color: white;
    border: none;
    color: #f72210;
    font-size: 1.1rem;
    font-weight: bold;
}

/* First Section: Featured Stories, Top Story and Opinion Sections */

.section-1 {
    height: 162rem;
    overflow: hidden;
}
.more-stories {font-size: 0.8rem;}
.section-1-3 {
    height: 160rem;
}

.opinion-article {
    border-bottom: 1px solid #DFDFDF;
    box-sizing: border-box;
}
.opinion-div-1 {
    box-sizing: border-box;
    float: left;
    height: auto;
}
.text {padding-left: 4.5rem;}

.opinion-title {
    font-size: 0.9rem;
    font-weight: bold;
}
.opinion-div-1 p {
    color: #706F6F;
    font-size: 0.8rem;
    font-weight: bold;
}
section h4 {
    color: #9B9A9A;
    font-size: 1.15rem;
}
section h5 {
    font-weight: bold;
}
.opinion-img {
    float: left;
    height: 4rem;
    width: 4rem;
}
.opinion-txt {
    float: right;
}
.latest-div-1 {
    box-sizing: border-box;
    float: left;
    height: auto;
    padding-bottom: 0.5rem;
}
.latest-img {
    float: left;
    height: 6rem;
    width: 8rem;
}
.text-1 {padding-left: 8.5rem;}
.sign-up {
    background-color: #f4f5f6;
    height: 12rem;
    margin: 0 auto;
    width: 95%;
}
.sign-up h6 {
    font-size: 1.2rem;
    left: 4%;
    position: relative;
    top: 1.5rem;
}
.sign-up button {
    left: 13%;
    position: relative;
    top: 2rem;
}
.sign-up p {
    left: 12.3%;
    position: relative;
    top: 2.7rem;
}
.news-logo {
    background-color: #f72210;
    color: white;
    float: left;
    font-weight: bold;
    font-size: 1.2rem;
    left: 1%;
    position: relative;
    text-align: center;
    top: 1.7rem;
    width: 10%;
}
.news-img {width: 100%;}

/*  "In The Magazine" & "Editor's Pick" Styles */

.trp-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 16rem;
}
.mag-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 16rem;
}
.m1 {background-image: url(/Images/august-cover.jpg);}
.m2 {background-image: url(/Images/bondage.jpg);}
.m3 {background-image: url(/Images/terry.jpg);}
.m4 {background-image: url(/Images/divided.jpg);}
.m5 {background-image: url(/Images/money.jpg);}
.m6 {background-image: url(/Images/strawberries.jpg);}
.m7 {background-image: url(/Images/rupaul.jpg);}
.m8 {background-image: url(/Images/world-class-relief.jpg);}
.second-section article h6 {
    font-size: 1.1rem;
    font-weight: bold;
}
.category-1 {
    background-color: #f72210;
    color: white;
}
.category-2 {
    background-color: white;
    color: #f72210;
}
.trp-1 {
    height: 22.5rem;
}
.trp-2 {
    background-color: #E8E6E6;
    height: 2.9rem;
}
.trp-2 p {
    font-weight: bold;
    position: relative;
    text-align: center;
    bottom: -20%;
}
.section2-div2 article{
    box-sizing: border-box;
    height: auto;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.mag-heading {
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: center;
}
.mag-heading span {
    font-size: 1rem;
    font-weight: bold;
}
.news-logo-2 {
    background-color: #f72210;
    color: white;
    float: left;
    font-weight: bold;
    font-size: 1.2rem;
    left: 41%;
    position: relative;
    text-align: center;
}
.m9 {background-image: url(/Images/visit.jpg);}
.m10 {background-image: url(/Images/trump-taxes.jpg);}
.m11 {background-image: url(/Images/home-alone.jpg);}
.m12 {background-image: url(/Images/toni.jpg);}
.m13 {background-image: url(/Images/horizon-2.jpg);}
.m14 {background-image: url(/Images/beto-orourke.jpg);}
.m15 {background-image: url(/Images/vegan.jpg);}
.m16 {background-image: url(/Images/soldier.jpg);}
.fourth-section h6 {
    font-size: 1.2rem;
    font-weight: bold;
}

/*  Featured Slideshows Section Styles */

.m17 {background-image: url(/Images/manson.jpg);}
.m18 {background-image: url(/Images/avant-garde.jpg);}
.m19 {background-image: url(/Images/revamp.jpg);}
.m20 {background-image: url(/Images/lions-safari.jpg);}
.m21 {background-image: url(/Images/papua.jpg);}
.m22 {background-image: url(/Images/rocket.jpg);}
.fifth-section h6 {
    font-size: 1.2rem;
    font-weight: bold;
}
